# GitHub Repo Creation Properties
github_username="<username>"
# github_use_ssh: true will use ssh, false will use https
github_use_ssh="false"
github_template_repo="<template_organization_id>/<repo-template-name>"
github_new_repo="<your_github_user_or_organization_id>/<new-repo-name>"
# project_visibility: public, private, internal
github_new_repo_visibility="public" 

# Dev Environment Provision Properties
azd_dev_env_provision="<true_or_false>"
azd_dev_env_name="<dev_env_name>"
azd_dev_env_subscription="<subscription_id>"
azd_dev_env_location="<location>"